.complaint-viz {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* justify-content: space-evenly; */
}

.complaint-viz-item {
  /* flex-shrink: 4; */
  /* flex-grow: 1; */
  /* max-width: 500px;
  height: 300px; */
}

.complaint-viz-item.complaint-types {
  
}

/* .complaint-types {
  flex-grow: 4;
} */