.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.main {
  display: flex;
  flex-direction: row;
}

.map-container {
  margin-top: 70px;
  width: 100%;
  z-index: 0;
}

