@import "https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css";

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.main {
  display: flex;
  flex-direction: column;
}

.map-container {
  margin-top: 70px;
  width: 100%;
  z-index: 0;
}

.content {
  display: flex;
  flex-direction: row;
}

