@font-face {
  font-family: "Swansea";
  src: local("Swansea"),
   url("./assets/fonts/Swansea/Swansea.ttf") format("truetype");
  font-weight: regular;
  }

@font-face {
  font-family: "Swansea-Bold";
  src: local("Swansea"),
    url("./assets/fonts/Swansea/SwanseaBold.ttf") format("truetype");
  font-weight: bold;
  }

body {
  margin: 0;
  font-family: 'Swansea', -apple-system, BlinkMacSystemFont,  'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
